{% extends "layout.html" %}

{% block title %}
내 주변
{% endblock %}

{% block body %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdGsgXvx-1pbS8rDSqjQ5W599ezAkbt1I" async defer></script>

<div class="map-container h-50 px-2 pt-2">
<div id="map"></div>
<div class="slidecontainer">
  <input type="range" min="4" max="50" value="4" class="slider" id="slider">
</div>

<script>
    var markers = [];

    function addMarker(location, color) {
      var marker = new google.maps.Marker({
      icon: 'http://maps.google.com/mapfiles/ms/icons/'+color+'-dot.png',
      position: location,
      map: map
      });
      markers.push(marker);
  }

  function clearOverlays() {
  for (var i = 0; i < markers.length; i++ ) {
      markers[i].setMap(null);
      }
  markers.length = 0;
  }
</script>


<script>
  var map;
  var mylat;
  var mylng;
  var myLatLng

  function initMap() {
    navigator.geolocation.getCurrentPosition(function(position){
        mylat = position.coords.latitude;
        mylng = position.coords.longitude;
        myLatLng = {lat: mylat, lng: mylng}
        console.log(myLatLng)

        map = new google.maps.Map(document.getElementById('map'), {
            center: new google.maps.LatLng(myLatLng),
            zoom: 15
        });
      addMarker(myLatLng, 'red')
    });
  }
  
  initMap()

  var slider = document.getElementById("slider");
  slider.oninput = function() {
    clearOverlays();
    addMarker(myLatLng, 'red')
    parameter = {
      'type':'near',
      'lat':mylat,
      'lng':mylng,
      'num':this.value
    }
    var search_table = '';
    if (parameter.num != 4) {
    $.getJSON("/search_ajax", parameter, function(data){
    
      data.forEach(function(item){
        var storelocation = {lat: item['latlng'][0], lng: item['latlng'][1]}

        addMarker(storelocation, 'green');

        map.panTo(storelocation, 'green');
        search_table += 
        '<tr class="each_list" id="'+ item['sid'].toString() +'">' + 
        //'<td>' + sid.toString() + '</td>' +
        '<td>' + item['sname'] + '</td>'+ 
        '<td class="address_width">' + item['address'] + '</td>' +
        '<td class="open_width">' + item['open'] + '</td>' +
        '<td>' + '<button id="'+ item['sid'].toString() +'" class="each_btn btn btn-primary">상세페이지</button>' + '</td>' +
    '</tr>';


      var bounds = new google.maps.LatLngBounds();
      for (var i = 0; i < markers.length; i++) {
      bounds.extend(markers[i].getPosition());
      }
      map.fitBounds(bounds);
      });
      $(document).ready(function(){
        $('.each_btn').click(function(){
            var sid = $(this).attr("id")
            window.open("/store"+'?sid='+sid);
        });
    });
      $('#jsonresult').html(search_table);
      $(document).ready(function(){
        $(".each_list").click(function() {
            parameter = {
                'type':'sid',
                'value':$(this).attr('id')
            }
            $.getJSON("/search_ajax", parameter, function(data){
                //console.log(data)
                clearOverlays()
                var storelocation = {lat: data['latlng'][0], lng: data['latlng'][1]}
                addMarker(storelocation, 'green')
                addMarker(myLatLng, 'red')
                map.panTo(storelocation, 'green');
                var bounds = new google.maps.LatLngBounds();
                for (var i = 0; i < markers.length; i++) {
                bounds.extend(markers[i].getPosition());
                }

                map.fitBounds(bounds);
                //map.setCenter(storelocation)
            });
        });
    });
      //console.log(markers)
    });
  } else {
    $('#jsonresult').html(search_table);
  }
  }
</script>

<table class="table table-striped header-fixed table-hover">
    <thead>
        <tr>
        <!-- <th scope="col">sid</th> -->
        <th scope="col">상호명</th>
        <th class="address_width" scope="col">주소</th>
        <th class="open_width" scope="col">영업중</th>
        <th scope="col">상세</th>
        </tr>
    </thead>
    <tbody id="jsonresult"></tbody>
</table>

{% endblock %}

